

/__pycache__
/qtvcp
/tester

Manualmatic.py
Remora-EC500.pref
autosave.halscope
custom_postgui.hal
ec500-rt1052.txt
gcode2ngc.py
halshow.preferences
jamcnccontroller
jamcontroller
linuxcnc.var
linuxcnc.var.bak
manualmatic
postgui_call_list.hal
pyvcp_options.hal
remora-nv-mpg.hal
test_machine.hal
tool.tbl
tool.tbl.bak
upload_config.py
